:root {
  --primary-text-color: #292D32;
  --secondary-text-color: #B5B7C0;
  --active-text-color: #008767;
  --inactive-text-color: #DF0404;
  --gray-text-color: #9197B3;
  --white-text-color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  line-height: inherit;
}

img,
svg {
  display: block;
}

.wrapper {
  display: flex;
  width: 100vw;
}

main {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 258px;
}
@media screen and (max-width: 1280px) {
  main {
    padding-bottom: 100px;
  }
}

body {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.2;
  background-color: #FAFBFF;
  overflow-x: hidden;
}

.container {
  max-width: 968px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 630px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 320px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 306px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  padding: 37px 28px 76px 28px;
  transform: translate(0);
}
@media screen and (max-width: 1280px) {
  .navigation {
    width: 250px;
    padding: 37px 15px 76px 15px;
  }
}
@media screen and (max-width: 1024px) {
  .navigation {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition-duration: 500ms;
    transform: translate(-100%);
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  color: var(--black-text-color);
  margin-bottom: 65px;
}
.navigation__logo svg {
  margin-right: 8px;
}
.navigation__logo .navigation__logo--title {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
}
.navigation__logo .navigation__logo--title span {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #838383;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.navigation__button {
  width: 100%;
  padding: 11px 8px 11px 11px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--gray-text-color);
  border-radius: 8px;
  overflow: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 300ms;
}
.navigation__button:focus {
  color: var(--white-text-color);
  background-color: #5932EA;
  outline: none;
}
.navigation__button:focus .navigation__icon--key {
  stroke: white;
  fill: transparent;
}
.navigation__button:focus .navigation__icon--discount {
  stroke: white;
  fill: transparent;
}
.navigation__button:focus .navigation__icon--user {
  stroke: white;
  fill: white;
}

.navigation__icon--key {
  fill: white;
  stroke: var(--gray-text-color);
}

.navigation__icon--discount {
  fill: transparent;
  stroke: var(--gray-text-color);
}

.navigation__icon--user {
  stroke: var(--gray-text-color);
  fill: var(--gray-text-color);
}

.navigation__icon {
  fill: currentColor;
}

.navigation__arrow {
  display: block;
  margin-left: auto;
  fill: currentColor;
}

.navigation__manager {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}
@media screen and (max-width: 1024px) {
  .navigation__manager {
    display: none;
  }
}

.navigation__manager--name {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--black-text-color);
}

.navigation__manager--work {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.mobile__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .mobile__menu {
    justify-content: flex-end;
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .mobile__menu {
    justify-content: space-between;
    gap: 50px;
  }
}

.burger__menu--open {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
}
.burger__menu--open svg {
  fill: black;
}
@media screen and (max-width: 1024px) {
  .burger__menu--open {
    display: block;
  }
}

.content__title {
  font-weight: 500;
  font-size: 24px;
  color: var(--black-text-color);
  margin-bottom: 51px;
}

.content__table {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 30px 0 40px 0;
}
@media screen and (max-width: 768px) {
  .content__table {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .content__table--item {
    overflow-x: scroll;
  }
}

.content__top--menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 53px 0 38px;
}
@media screen and (max-width: 768px) {
  .content__top--menu {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 0;
  }
}

.content__customers {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.01em;
  color: var(--black-text-color);
  margin-bottom: 7px;
}

.content__members {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #16C098;
}

.content__form {
  background-color: #F9FBFF;
  border-radius: 10px;
  padding: 7px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.content__button {
  display: block;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.content__input {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}
.content__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}
.content__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}
.content__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}

.content__bottom--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 40px 0 38px;
}
@media screen and (max-width: 1280px) {
  .content__bottom--menu {
    justify-content: center;
  }
}

.content__showing {
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 1280px) {
  .content__showing {
    display: none;
  }
}

.pagination {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.pagination__button {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #404B52;
  outline: none;
  cursor: pointer;
}

.pagination__button--active {
  background-color: #5932EA;
  border: 1px solid #5932EA;
  color: var(--white-text-color);
}

.table {
  width: 888px;
  margin: 40px auto 0 auto;
}
@media screen and (max-width: 1280px) {
  .table {
    width: 550px;
  }
}

.table__head {
  border-bottom: 1px solid #EEEEEE;
}
.table__head th {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
  text-align: left;
  padding-bottom: 14px;
}
@media screen and (max-width: 1280px) {
  .table__head th {
    font-size: 10px;
  }
}

.table__status {
  text-align: center !important;
  width: 80px !important;
}

.table__row {
  border-bottom: 1px solid #EEEEEE;
}

.table__info {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1280px) {
  .table__info {
    font-size: 10px;
  }
}

.table__active {
  margin: 20px 0;
  display: inline-block;
  padding: 4px 18px;
  background-color: rgba(22, 192, 152, 0.3803921569);
  border: 1px solid #00B087;
  border-radius: 4px;
  float: right;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--active-text-color);
}
@media screen and (max-width: 1280px) {
  .table__active {
    font-size: 10px;
  }
}

.table__inactive {
  margin: 20px 0;
  display: inline-block;
  padding: 4px 12px;
  float: right;
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--inactive-text-color);
}
@media screen and (max-width: 1280px) {
  .table__inactive {
    font-size: 10px;
  }
}/*# sourceMappingURL=index.css.map */