:root {
    // text colors
    --primary-text-color: #292D32;
    --secondary-text-color: #B5B7C0;
    --active-text-color: #008767;
    --inactive-text-color: #DF0404;
    --gray-text-color: #9197B3;
    --white-text-color: #FFFFFF;
}